<!doctype html>
<html lang="en">
 <head>

  <meta charset="UTF-8">
  <meta name="Generator" content="EditMin®">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  
  <link rel="stylesheet" href="./css/style.css">
<link rel="icon" href="/img/icons.png">
  <title>About</title>
 </head>

 <body>

    
    <div class="main-content"> 
        {{>header}}
        <p>latihan nodejs</p>
    <img class="portrait" src="/img/dora.jpg" alt="">
    </div>

  

    {{>footer}}
 </body>
</html>
