<!doctype html>
<html lang="en">

<head>
    <!-- relative path -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/icons.png">
    <title>help</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
    </div>

    {{>footer}}
</body>

</html>